body {
}

.loginPopup {
	padding: 30px !important;
	text-align: center;
}

.loginTitle {
	font-size: 20px;
	font-weight: bold;
}

button {
	margin: 2px;
}

.warningLabel {
	color: #9F6000;
	padding: 0 2px !important;
	border: 1px solid #9F6000;
	background-color: #FEEFB3;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	color: #777777;
	text-align: left;
	margin: 5px 10px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	color: #555555;
	text-align: left;
	margin: 5px 10px;
}

div.headerArea {
	margin: 0;
}

div.headerLine {
	text-align: right;
	margin: 2px;
	border-bottom: 1px solid #92c1f0;
}

div.infoArea {
	margin: 10px;
}

div.mainArea {
	margin: 10px;
}

div.footerArea {
	margin: 10px;
	padding-top: 10px;
}

.btnPreview {
	margin-left: 20px !important;
	margin-top: 10px !important;
}

table {
	border-collapse: collapse;
}

.blockTable {
	margin-left: 20px;
	margin-right: 20px;
}

.mainTable td{
	vertical-align: top;
}

td input[type="text"][disabled] {
	background-color: white;
	border: 1px solid white;
}
td input[type="text"][disabled]:hover {
	background-color: white;
	border: 1px solid white;
}

td input[type="text"][disabled]:focus {
	background-color: white;
	border: 1px solid white;
}

td input[type="text"] {
	background-color: #ffffdd;
	border: 1px solid #ffffdd;
}

td input[type="text"]:hover {
	background-color: #ffffdd;
	border: 1px solid red;
}

td input[type="text"]:focus {
	background-color: #ffff33;
	border: 1px solid red;
}

.cellNumber {
	text-align: right;
}

.cellNumber input {
	text-align: right;
}

.bsRowLevel0 {
}

.bsCellLevel0 {
	border-bottom: 4px solid #6678B1;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
}

.bsCellLevel0 input {
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}

.bsRowLevel1 {
}

.bsCellLevel1 {
	border-bottom: 2px solid #6678B1;
	color: black;
	font-size: 14px;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 10px;
}

.bsCellLevel1 input {
	color: black;
	font-size: 14px;
	font-weight: normal;
	padding: 0;
}

.bsRowLevelNormal {
}

.bsRowLevelNormal:hover {
	background-color: #ffbb88;
}

.bsCellLevelNormal {
	border-bottom: 1px solid #87CEFA;
	color: black;
	font-size: 12px;
	font-weight: normal;
	padding-left: 20px;
}

.bsCellLevelNormal input {
	color: black;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
}

.listPanel {
	padding: 0 10px;
}

.listTableHeadRow {
	background-color: #c5d7fe;
	text-align: center;
}

.listTableHeadCell {
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
}

.listTableDataRowOdd {
	background-color: white;
	border-bottom: 1px solid #c5d7fe;
	text-align: left;
}

.listTableDataRowEven {
	background-color: #e9e9e9;
	border-bottom: 1px solid #c5d7fe;
	text-align: left;
}

.listTableDataCell {
	color: black;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 10px;
}

svg {
	border: 1px solid black;
}

div.caution {
	display: block;
	width: 520px;
	padding: 0 15px;
	margin: 10px 0;
	background-color: #efefef;
	border-top: 1px solid #ffcc33;
	border-bottom: 1px solid #ffcc33;
}