body {
}

h1 {
	font-size: 20px;
	font-weight: bold;
	color: #777777;
	text-align: left;
	margin: 0 0 5px 5px;
}

div#infoArea {
	margin: 10px;
}

div#mainArea {
	margin: 10px;
}

div#footer {
	margin: 10px;
}

.btnPreview {
	margin-left: 20px !important;
}

table {
	border-collapse: collapse;
}

.blockTable {
	margin-left: 20px;
	margin-right: 20px;
}

.mainTable td{
	vertical-align: top;
}

.blockTable tr:hover {
	background-color: #ffbb88;
}

td input[type="text"][disabled] {
	background-color: white;
	border: 1px solid white;
}
td input[type="text"][disabled]:hover {
	background-color: white;
	border: 1px solid white;
}

td input[type="text"][disabled]:focus {
	background-color: white;
	border: 1px solid white;
}

td input[type="text"] {
	background-color: #ffffdd;
	border: 1px solid #ffffdd;
}

td input[type="text"]:hover {
	background-color: #ffffdd;
	border: 1px solid red;
}

td input[type="text"]:focus {
	background-color: #ffff33;
	border: 1px solid red;
}

.cellNumber {
	text-align: right;
}

.cellNumber input {
	text-align: right;
}

.bsRowLevel0:hover {
}

.bsCellLevel0 {
	border-bottom: 4px solid #6678B1;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
}

.bsCellLevel0 input {
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}

.bsRowLevel1 {
}

.bsCellLevel1 {
	border-bottom: 2px solid #6678B1;
	color: black;
	font-size: 14px;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 10px;
}

.bsCellLevel1 input {
	color: black;
	font-size: 14px;
	font-weight: normal;
	padding: 0;
}

.bsRowLevelNormal {
}

.bsCellLevelNormal {
	border-bottom: 1px solid #87CEFA;
	color: black;
	font-size: 12px;
	font-weight: normal;
	padding-left: 20px;
}

.bsCellLevelNormal input {
	color: black;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
}


svg {
	border: 1px solid black;
}